.toggle-button:selected {
    -fx-background-color: #ffcc66;
    -fx-text-fill: black;
}

.invisible-split-pane .split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.account-logo {
    -fx-padding: 0 0 0 35;
}


